.container{
  color:white;
  font-family:Arial;
  padding:0;
  text-align:center;
  font-size:300%;
  height: 80%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
body{
 Background-image:url("https://i.postimg.cc/x8RS3psB/Want-to-know.png");
  background-repeat:no-repeat;
  position: sticky;
  background-size: cover;
  text-align:center;
  width: 100%;
  height: 100%;
}
h4{
  color:white;
  font-family:Arial;
  padding:0;
  text-align:center;
  font-size:100%;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
